@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

body {
  color: #f8f8f2; /* Foreground text color from Dracula */
  background-color: #282a36; /* Background from Dracula */
}

h1,
h2 {
  color: #50fa7b; /* Green from Dracula */
  text-align: center;
}

form {
  background-color: #44475a; /* Current Line/Selection from Dracula */
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}

label {
  color: #bd93f9; /* Purple from Dracula */
  display: block;
  margin-bottom: 8px;
}

input[type='text'],
input[type='number'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #6272a4; /* Comment color from Dracula */
  border-radius: 5px;
  background-color: #282a36; /* Background from Dracula */
  color: #f8f8f2; /* Foreground text */
}

button {
  background-color: #ff79c6; /* Pink from Dracula */
  color: #282a36; /* Background from Dracula */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ff92d0; /* Lighter pink for hover effect */
}

.delete-button {
  background-color: #ff5555; /* Vermelho do Dracula */
  color: #282a36; /* Cor de fundo do Dracula */
  padding: 0.5rem 1rem; /* Ajusta o padding usando rem para consistência */
  cursor: pointer;
  font-weight: bold;
  border: none; /* Remove bordas padrão do botão */
  display: inline-block; /* Faz com que o botão se comporte como um bloco inline */
  margin: 0; /* Remove margens adicionais */
  margin-top: 0.5rem; /* Espaço acima do botão */
  margin-bottom: 1rem; /* Espaço abaixo do botão */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #44475a;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  color: #f1fa8c; /* Yellow from Dracula */
}
